@import '../../global/global.scss';

.welcome {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0 auto;
}

.welcomeContent {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 640px;
    margin-top: 20px;
    @include mq(xs) {
        max-width: 90%;
    }
    @include mq(sm) {
        max-width: 80%;
    }
}

.profilePic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 2em;

    @include mq(xs) {
        margin-top: 0px;
        width: 180px;
        height: 180px;
        margin-bottom: 0.7em;
    }
}

h1 {
    text-align: left;
    @extend %font-stack-main;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0.2em;
}

h2.subHeader {
    margin-top: 0em;
    margin-bottom: 1.2em;
    font-size: 18px;
    text-align: left;
    font-weight: 300;
    color: $code_faded;
}

.about, .no-worries {
    @extend %font-stack-main;
    font-weight: 400;
    line-height: 1.6em;
    color: $black;
}

.about {
    text-align: left;
    margin-bottom: 8vh;
    display: block;
    font-size: 15px;
}


.no-worries {
    text-align: center;
    font-size: 14px;

    .header-text {
        display: none;
    }

    .sidebar-text {
        display: inline;
    }

    @include mq(xs) {
        .header-text {
            display: inline;
        }

        .sidebar-text {
            display: none;
        }
    }
}

.welcome-content-wrapper {
    text-align: left;
}

h2 {
    text-align: center;
    @extend %font-stack-main;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0.4em;
    margin-top: 1.4em;
}

.catPicker {
    margin-bottom: 0;
}

.welcome-icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    margin: 0em auto 0.4em auto;

    a {
        text-decoration: none;
        padding: 16px 20px 16px 20px;
        background-color: $white;
        color: $design_faded;
        border-radius: 4px;
        transition: 300ms background-color ease-in-out, 300ms color ease-in-out, 300ms box-shadow ease-in-out;

        box-shadow: none;

        &:hover {
            background-color: $primary;
            box-shadow: 0px 4px 30px 1px rgba($primary, 0.15);

            i {
                color: $white;
            }

            .iconExplainer {
                color: $white;
            }
        }
    }

    .designIcon, .codeIcon {
        text-align: center;
        margin-top: 0.6em;
        
        i {
            color: $primary;
            margin-bottom: 0.8em;
            font-size: 20px;
            transition: 300ms color ease-in-out;
        }

        .iconExplainer {
            font-size: 14px;
            color: $code-faded;
            transition: 300ms color ease-in-out;
        }
    }   
}

.extraProjectsTeaser {
    font-size: 13px;
    @extend %font-stack-main;
    width: 60%;
    margin: 0 auto;
    line-height: 1.6em;
    color: $design-faded;
    margin-top: 1em;
    margin-bottom: 30px;
    text-align: center;

    font-weight: 300;

    a {
        color: $black;
        font-weight: 500;
        text-decoration: none;
        transition: 200ms color ease-in-out;
        &:hover {
            color: $design-faded;
        }
    }
}

// Animations

.slideIn-appear {
    transition: 300ms opacity 300ms ease-in-out, 300ms transform 300ms ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
}
.slideIn-appear-active {
    opacity: 1;
    transform: translateY(0px);
}

.fadeIn-delayed-appear {
    transition: 300ms opacity 1300ms ease-in-out;
    opacity: 0;
}
.fadeIn-delayed-appear-active {
    opacity: 1;
}