@import '../../global/global.scss';

.welcome {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0 auto;
}

.welcomeContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin-top: 20px;
    @include mq(xs) {
        max-width: 90%;
    }
}

.profilePic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 2em;

    @include mq(xs) {
        margin-top: 0px;
        width: 180px;
        height: 180px;
        margin-bottom: 0.7em;
    }
}

h1 {
    text-align: center;
    @extend %font-stack-main;
    font-weight: 500;
    font-size: 20px;
}

.about, .no-worries {
    text-align: center;
    @extend %font-stack-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6em;
    color: $black;
}

.welcome-content-wrapper {
    text-align: center;
}

h2 {
    text-align: center;
    @extend %font-stack-main;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0.4em;
    margin-top: 1.4em;
}

.catPicker {
    margin-bottom: 0;
}

.welcome-icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    margin: 0em auto 0.4em auto;

    a {
        text-decoration: none;
        padding: 20px 20px 20px 20px;
        background-color: $white;
        color: $design_faded;
        border-radius: 3px;
        transition: 300ms background-color ease-in-out;

        &:hover {
            background-color: $design;
        }
    }

    .designIcon, .codeIcon {
        text-align: center;
        margin-top: 0.4em;
        
        i {
            color: $primary;
            margin-bottom: 1em;
            font-size: 20px;
        }

        .iconExplainer {
            font-size: 14px;
            color: $code-faded;

        }
    }   
}

.extraProjectsTeaser {
    font-size: 13px;
    @extend %font-stack-main;
    width: 60%;
    margin: 0 auto;
    line-height: 1.6em;
    color: $design-faded;
    margin-top: 1em;
    margin-bottom: 30px;

    font-weight: 300;

    a {
        color: $black;
        font-weight: 500;
        text-decoration: none;
        transition: 200ms color ease-in-out;
        &:hover {
            color: $design-faded;
        }
    }
}

// Animations

.slideIn-appear {
    transition: 300ms opacity 300ms ease-in-out, 300ms transform 300ms ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
}
.slideIn-appear-active {
    opacity: 1;
    transform: translateY(0px);
}

.fadeIn-delayed-appear {
    transition: 300ms opacity 1300ms ease-in-out;
    opacity: 0;
}
.fadeIn-delayed-appear-active {
    opacity: 1;
}