@import '../../global/global.scss';

.welcome {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0 auto;
}

.welcomeContent {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 740px;
    margin-top: 0;
    @include mq(xs) {
        max-width: 90%;
        margin-top: 20px;
    }
    @include mq(sm) {
        max-width: 80%;
    }
    @include mq(md) {
        max-width: 640px;
    }
}

.profilePic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 2em;

    @include mq(xs) {
        margin-top: 0px;
        width: 180px;
        height: 180px;
        margin-bottom: 0.7em;
    }
}

.welcometitle {
    text-align: left;
    @extend %font-stack-main;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0.2em;
    margin-top: 0;
    line-height: 1.4em;
}

h2.subHeader {
    margin-top: 0em;
    margin-bottom: 1.2em;
    font-size: 24px;
    text-align: left;
    font-weight: 400;
    color: $code_faded;
    line-height: 1.4em;
}

.about, .no-worries {
    @extend %font-stack-main;
    font-weight: 300;
    line-height: 1.7em;
    color: $design_faded;
}

.about {
    text-align: left;
    margin-bottom: 1.4em;
    display: block;
    font-size: 16px;
    -webkit-font-smoothing: auto;
}


.no-worries {
    text-align: center;
    font-size: 14px;

    .header-text {
        display: none;
    }

    .sidebar-text {
        display: inline;
    }

    @include mq(xs) {
        .header-text {
            display: inline;
        }

        .sidebar-text {
            display: none;
        }
    }
}

.welcome-content-wrapper {
    text-align: left;
}

h2 {
    text-align: center;
    @extend %font-stack-main;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0.4em;
    margin-top: 1.8em;
}

.catPicker {
    margin-bottom: 1.8em;
    margin-top: 1.8em;
    text-align: left !important;
}

.welcome-icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    a {
        text-decoration: none;
        width: 49%;
        box-sizing: border-box;
        padding: 76px 20px 76px 20px;
        background-color: $white;
        color: $design_faded;
        border-radius: 4px;
        transition: 
        300ms background-color ease-in-out, 
        300ms color ease-in-out, 
        300ms box-shadow ease-in-out,
        300ms transform ease-in-out;

        box-shadow: 0px 5px 30px 0px rgba($code_faded, 0.3);

        &:hover {
            box-shadow: 0px 10px 30px 1px rgba($code_faded, 0.35);
            i {
                color: rgba($design_faded, 0.1);
                transform: translateY(15px)
            }

            .iconExplainer {
                transform: translateY(-45px);
                opacity: 0;
            }

            .iconExplainer--hover {
                opacity: 1;
            }

        }
    }

    .designIcon, .codeIcon {
        text-align: center;
        margin-top: 0.6em;
        transition: 
            300ms transform ease-in-out,
            300ms opacity ease-in-out,
            300ms color ease-in-out,
            300ms background-color ease-in-out,
            300ms box-shadow ease-in-out,
        ;
        
        i {
            color: $design-faded;
            margin-bottom: 0.8em;
            font-size: 40px;
            transition: 
                300ms color ease-in-out,
                300ms transform ease-in-out
            ;
        }

        .iconExplainer {
            font-size: 14px;
            color: $code-faded;
            transition: 
                300ms transform ease-in-out,
                300ms opacity ease-in-out,
                300ms color ease-in-out
            ;
        }
        .iconExplainer--hover {
            transform: translateY(-43px);
            margin-top: -16px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.4em;
            font-size: 14px;
            opacity: 0;
            transition: 
                300ms opacity ease-in-out 80ms,
                300ms color ease-in-out 80ms,
            ;
        }
    }   

    .designIcon:hover {
        background-color: $design;
    }

    .codeIcon:hover {
        background-color: $code;
        i {
            color: $white;
            opacity: 0.15;
            transition: 
                300ms opacity ease-in-out 80ms,
                300ms color ease-in-out 80ms,
                300ms transform ease-in-out 80ms,
            ;
        }
        .iconExplainer--hover {
            color: $white;
        }
    }
}

.extraProjectsTeaser {
    font-size: 13px;
    @extend %font-stack-main;
    width: 60%;
    margin: 0 auto;
    line-height: 1.6em;
    color: $design-faded;
    margin-top: 0.6em;
    text-align: center;

    font-weight: 300;

    a {
        color: $black;
        font-weight: 500;
        text-decoration: none;
        transition: 200ms color ease-in-out;
        &:hover {
            color: $design-faded;
        }
    }
}

// Animations

.slideIn-appear {
    transition: 300ms opacity 300ms ease-in-out, 300ms transform 300ms ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
}
.slideIn-appear-active {
    opacity: 1;
    transform: translateY(0px);
}

.fadeIn-delayed-appear {
    transition: 300ms opacity 1300ms ease-in-out;
    opacity: 0;
}
.fadeIn-delayed-appear-active {
    opacity: 1;
}