@import '../../global/global.scss';

.errorPage {
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(xs) {
        width: 90%;
    }

    @extend %font-stack-main
}

.fourOhFour {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin-left: 10px;
    margin-bottom: 0.7em;
    animation: FOF-spin infinite 14s linear;

    @include mq(xs) {
        font-size: 64px;
        margin-left: 0;
    }

    span {
        margin-left: 0.03em;
    }
}

.errorExplanation {
    font-weight: 100;
    font-size: 15px;
    line-height: 1.6em;
    text-align: center;
    color: $black;

    a {
        text-decoration: none;
        font-weight: bold;
        color: $black;
    }
}

.linkBackToPage {
    text-align: center;
    font-size: 13px;
    color: $black;
    font-weight: 100;
    a {
        display: block;
        text-decoration: none;
        color: $black;
        font-weight: 100;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 13px;
        margin-top: 2em;
        margin-bottom: 1em;
        position: relative;
        transition: all 200ms ease-in-out;

        &::before {
            font-family: FontAwesome, "FontAwesome";
            width: 20px;
            height: 1px;
            position: absolute;
            z-index: 1;
            left: -60px;
            top: 48%;
            background-color: $design-faded;
            content: " ";
            margin-right: 20px;
            margin-left: 25px;
            
            transition: 300ms color ease-in-out;            
        }

        &:hover {
            color: $primary;
            &::before {
                animation: linkLineWidth 400ms ease-in-out;
                animation-fill-mode: forwards;
                
            }
        }
    }
}

@keyframes linkLineWidth {
    0% { width: 20px }
    50% { width: 60px }
    100% { width: 20px; left: calc(100% - 10px); }
  }

@keyframes FOF-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}