@import '../../global/global.scss';

.aboutSection {
    text-align: left;

    @extend %font-stack-main;
    max-width: 700px;
    padding: 10em 20px 0px 20px;
    margin: 0 auto;

    //make this one "visible" when fixing fullWidth img class
    overflow-x: hidden;
    overflow-y: hidden;

    h1, h2 {
        text-align: left;
    }
}

.aboutTitle {
    font-size: 24px;
    @extend %font-stack-main;
    margin-bottom: 2em;
}

.aboutParagraph {
    font-size: 16px;
    line-height: 1.7em;
    margin-bottom: 1em;
    color: $design-faded;
}

.aboutHistoryContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}

.aboutHistoryCol {
    width: 100%;
    @include mq(lg) {
        width: 47%;
    }
    @include mq(md) {
        width: 47%;
    }
}

.aboutHistoryColHeader {
    font-size: 18px;
}

.aboutHistoryColEntry {
    margin-bottom: 2em;
    
    .year {
        font-weight: 300;
        margin-right: 10px;
        font-size: 16px;
        color: $black;
        margin-bottom: 0.6em;
    }

    .title {
        font-size: 16px;
        color: $black;
        font-weight: bold;
    }

    .location {
        font-size: 14px;
        color: $black;
        font-weight: 500;
        margin-bottom: 0.8em;
    }

    .description {
        font-size: 14px;
        color: $design-faded;
        line-height: 1.5em;
        margin-bottom: 0.8em;
    }
}