@import '../../global/global.scss';

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contactContent {
    max-width: 600px;
    text-align: center;
    
    margin-top: 20px;
    margin-bottom: 20px;

    transition: 300ms transform ease-in-out, 300ms opacity ease-in-out;

    @include mq(xs) {
        max-width: 90%;
    }

    h1 {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 1em;
    }

    p {
        font-size: 14px;
        line-height: 1.6em;
        font-weight: 100;
    }

    a {
        font-weight: 500;
        text-decoration: none;

        &:hover {
            opacity: 0.5;
        }
    }

    h1, p, a {
        @extend %font-stack-main;
        color: $black;
        transition: 300ms transform ease-in-out, 200ms opacity ease-in-out;
    }
}

.contactIllustration {
    max-width: 260px;
    width: 70%;
    margin-bottom: 20px;

    opacity: 1;
    transform: translateY(0px);

    transition: 300ms transform ease-in-out, 300ms opacity ease-in-out;
}

.fadeInUp-appear {
    opacity: 0;
    transform: translateY(-10px);
}

