@import '../global/global.scss';
body, html, #root, .App {
    height: 100%;
}

::selection {
  background: $code_faded;
  color: $white;
}
::-moz-selection {
  background: $code_faded; 
  color: $white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    @include mq(xs) {
        flex-direction: column;
    }
}

.contentArea {
    flex: 8;
    // height: 100%; - this doesnt really make sense right now.
    overflow-x: hidden;
    overflow-y: scroll;
}

