@import '../../global/global.scss';

.btnHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.backBtnBottom {
    display: block;
    text-decoration: none;
    color: $black;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 2em;
    margin-bottom: 1em;
    position: relative;
    transition: all 200ms ease-in-out;

    &::before {
        font-family: FontAwesome, "FontAwesome";
        width: 20px;
        height: 1px;
        position: absolute;
        z-index: 1;
        left: -60px;
        top: 45%;
        background-color: $design-faded;
        content: " ";
        margin-right: 20px;
        margin-left: 25px;
        
        transition: 300ms color ease-in-out;            
    }

    &:hover {
        color: $primary;
        &::before {
            animation: linkLineWidth 350ms ease-in-out;
            animation-fill-mode: forwards;
            
        }
    }
}

.projectSingle {
    position: relative;
    z-index: 0;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;

    p, h1, h2, h3, h4, em, ul, ol, {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .backBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 30px;
        color: $white;
        @extend %font-stack-main;
    }

    .btnHolder {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        margin-bottom: 4em;

        a {
            color: $black; //backBtnBottom color
            font-weight: 400;
            letter-spacing: 0.2em;
        }
    }

    .heroImgContainer {
        height: 50vh;
        margin-bottom: 60px;
        background-color: $black;
    }

    .hero-img {
        background-size: cover;
        background-position: center center;
        height: 100%;
        opacity: 0.7;
        position: relative;
        z-index: 0;
    }

    //Animations
    .growIn-appear {
        transition: 500ms height 300ms ease-in-out;
        height: 0;
    }
    .growIn-appear-active {
        height: 50vh;
    }

    .fadeIn-appear {
        transition: 500ms opacity 750ms ease-in-out;
        opacity: 0;
    }
    .fadeIn-appear-active {
        opacity: 1;
    }

    .projectTitle {
        text-align: center;
        @extend %font-stack-main;
        font-weight: 400;
        font-size: 32px;
        margin-bottom: 40px;
        color: $white;
        margin-top: -100px;
        position: relative;
        z-index: 1;
    }


    .content {
        @extend %font-stack-main;
        // max-width: 700px;
        margin: 0 auto;

        //make this one "visible" when fixing fullWidth img class
        overflow-x: hidden;

        overflow-y: hidden;
    }

    p {
        font-size: 15px;
        line-height: 1.7em;
        margin-bottom: 0.8em;
        font-weight: 100;
        color: $black;
    }

    h1 {
        text-align: center;
        font-size: 28px;
        margin-bottom: 0.8em;
    }
    h2 {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 30px;
        margin-top: -0.8em;
        color: $design-faded;
    }
    h3 {
        font-size: 18px;
        font-weight: 700;
        margin-top: 2.6em;
        margin-bottom: 0.3em;
    }
    h4 {
        font-size: 15px;
        font-weight: 500;
        margin-top: 1.4em;
        margin-bottom: -0.6em;
        display: block;
    }

    ul {
        margin-bottom: 1em;
        li {
            margin-left: 1em;
            margin-bottom: 0.6em;
            color: $black;
            font-weight: 100;
            font-size: 14px;
            line-height: 1.7em;
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 6em 0 4em 0;
    }

    a {
        color: $black;
        font-weight: 600;
        text-decoration: none;
        transition: 200ms all ease-in-out;
        &:hover {
            color: $design-faded;
        }
    }

    code {
        background-color: $design;
        padding: 2px 6px;
        margin-right: 4px;
        color: $design_faded;
        border-radius: 2px;
    }

    img + em, div + em {
        margin-top: -3.6em;
        margin-bottom: 6em;
        display: block;
        text-align: center;
        font-size: 13px;
        color: $design-faded;
    }

    .fullWidth {
        width: 100%;
    }
}

