@import '../../global/global.scss';

.backBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    color: $white;
    @extend %font-stack-main;
}

.backBtnBottom {
    padding: 16px 30px 14px 30px;
    background-color: $primary;
    border-radius: 100px;
    color: $white;
    text-align: center;
    margin: 30px auto 30px auto;
    text-decoration: none;
    transition: 200ms background-color ease-in-out;
    text-transform: uppercase;

    &:hover {
        background-color: rgba($primary, 0.8);
    }
}

.projectSingle {
    position: relative;
    z-index: 0;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;

    .heroImgContainer {
        height: 50vh;
        margin-bottom: 60px;
        background-color: $black;
    }

    .hero-img {
        background-size: cover;
        background-position: center center;
        height: 100%;
        opacity: 0.7;
        position: relative;
        z-index: 0;
    }

    //Animations
    .growIn-appear {
        transition: 500ms height 300ms ease-in-out;
        height: 0;
    }
    .growIn-appear-active {
        height: 50vh;
    }

    .fadeIn-appear {
        transition: 500ms opacity 750ms ease-in-out;
        opacity: 0;
    }
    .fadeIn-appear-active {
        opacity: 1;
    }

    .projectTitle {
        text-align: center;
        @extend %font-stack-main;
        font-weight: 400;
        font-size: 32px;
        margin-bottom: 40px;
        color: $white;
        margin-top: -100px;
        position: relative;
        z-index: 1;
    }


    p, h1, h2, h3, h4, ul {
        @extend %font-stack-main;
        max-width: 700px;
        padding: 0px 20px 0px 20px;
        margin: 0 auto;
    }

    p {
        font-size: 17px;
        line-height: 1.4em;
        margin-bottom: 0.8em;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 8px;
    }
    h2 {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    h3 {
        font-size: 18px;
        font-weight: 700;
        margin-top: 1em;
        margin-bottom: 0.4em;
    }

    ul {
        margin-bottom: 0.8em;
        li {
            margin-left: 18px;
            margin-bottom: 0.6em;
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 4em 0 4em 0;
    }

    a {
        color: $primary;
        text-decoration: none;
    }

    .btnHolder {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        margin-bottom: 4em;
    }

    a.backBtnBottom, a.backBtn {
        color: $white;
    }
}

