@import '../../global/global.scss';

.backBtnBottom {
    padding: 16px 30px 14px 30px;
    background-color: $white;
    border-radius: 2px;
    border-color: $black;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    margin: 30px auto 30px auto;
    text-decoration: none;
    transition: 200ms background-color ease-in-out;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.3em;
    position: relative;
    z-index: 0;
    transition: padding 200ms ease-in-out;
    //backBtnBottom color is down in line ~75

    &::before {
        font-family: FontAwesome, "FontAwesome";
        width: 10px;
        height: 10px;
        content: "\f060";
        color: rgba($black, 1);
        position: absolute;
        z-index: 1;
        top: 16px;
        left: 0;
        opacity: 0;
        margin-left: 25px;
        transition: opacity 200ms ease-in-out;
    }

    &:hover {
        padding-left: 60px;
        &::before {
            opacity: 1;
        }
    }
}

.projectSingle {
    position: relative;
    z-index: 0;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;

    .backBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 30px;
        color: $white;
        @extend %font-stack-main;
    }

    .btnHolder {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        margin-bottom: 4em;

        a {
            color: $black; //backBtnBottom color
            font-weight: 100;
        }
    }

    .heroImgContainer {
        height: 50vh;
        margin-bottom: 60px;
        background-color: $black;
    }

    .hero-img {
        background-size: cover;
        background-position: center center;
        height: 100%;
        opacity: 0.7;
        position: relative;
        z-index: 0;
    }

    //Animations
    .growIn-appear {
        transition: 500ms height 300ms ease-in-out;
        height: 0;
    }
    .growIn-appear-active {
        height: 50vh;
    }

    .fadeIn-appear {
        transition: 500ms opacity 750ms ease-in-out;
        opacity: 0;
    }
    .fadeIn-appear-active {
        opacity: 1;
    }

    .projectTitle {
        text-align: center;
        @extend %font-stack-main;
        font-weight: 400;
        font-size: 32px;
        margin-bottom: 40px;
        color: $white;
        margin-top: -100px;
        position: relative;
        z-index: 1;
    }


    .content {
        @extend %font-stack-main;
        max-width: 700px;
        padding: 0px 20px 0px 20px;
        margin: 0 auto;

        //make this one "visible" when fixing fullWidth img class
        overflow-x: hidden;

        overflow-y: hidden;
    }

    p {
        font-size: 15px;
        line-height: 1.7em;
        margin-bottom: 0.8em;
        font-weight: 100;
        color: $black;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 0.8em;
    }
    h2 {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 30px;
        margin-top: -0.8em;
        color: $design-faded;
    }
    h3 {
        font-size: 17px;
        font-weight: 700;
        margin-top: 1.6em;
        margin-bottom: 0.3em;
    }

    ul {
        margin-bottom: 0.8em;
        li {
            margin-left: 18px;
            margin-bottom: 0.6em;
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 4em 0 4em 0;
    }

    a {
        color: $black;
        font-weight: 600;
        text-decoration: none;
        transition: 200ms all ease-in-out;
        &:hover {
            color: $design-faded;
        }
    }

    code {
        background-color: $design;
        padding: 2px 6px;
        margin-right: 4px;
        color: $design_faded;
        border-radius: 2px;
    }

    em {
        margin-top: -3.6em;
        display: block;
        text-align: center;
        font-size: 13px;
        color: $design-faded;
    }

    .fullWidth {
        width: 100%;
    }
}

