@import '../../global/global.scss';

.backBtn {
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 1;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    color: $black;
    @extend %font-stack-main;
}

.projectSingle {
    position: relative;
    z-index: 0;

    .heroImgContainer {
        height: 50vh;
        margin-bottom: 60px;
        background-color: $black;
    }

    .hero-img {
        background-size: cover;
        height: 100%;
        opacity: 0.7;
        position: relative;
        z-index: 0;
    }

    .projectTitle {
        text-align: center;
        @extend %font-stack-main;
        font-weight: 400;
        font-size: 32px;
        margin-bottom: 40px;
        color: $white;
        margin-top: -100px;
        position: relative;
        z-index: 1;
    }


    p, h1, h2, h3, h4 {
        @extend %font-stack-main;
        max-width: 700px;
        padding: 0px 20px 0px 20px;
        margin: 0 auto;
    }

    p {
        font-size: 17px;
        line-height: 1.4em;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 8px;
    }
    h2 {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 30px;
    }
}