@import '../../global/global.scss';

.projectEntryContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .projectEntry {
        width: 50%;
        height: 48vh;

        .info {
            opacity: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:hover {
                opacity: 1;
            }
        }
    }

}

