@import '../../global/global.scss';

.projectEntryContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}